@import "../../../scss/variables";

tickets-list {
  display: block;
  background-color: $site-bg-color-300;
  min-height: calc(100vh - #{$material-navbar-height + 40px + 1px});

  .mat-table {
    background-color: inherit;
  }

  .mat-header-row {
    min-height: 35px;
    background-color: $site-bg-color-200;
  }

  .mat-row {
    border-bottom: 1px solid $site-border-color-200;
    height: 70px;
    cursor: pointer;

    &.open {
      background-color: $site-bg-color-100;

      .title-text, .mat-column-number, .mat-column-last-updated {
        font-weight: 500;
      }
    }

    &.selected {
      background-color: $site-selected-item-bg-color;
    }

    &:hover:not(.selected) {
      background-color: lighten($site-selected-item-bg-color, 2%);
    }
  }

  .mat-cell {
    color: $site-text-color-400;
  }

  .mat-column-select {
    overflow: initial;
    flex: 0 0 50px;
    margin-right: 25px;
  }

  .mat-column-number {
    flex: 0 0 90px;
  }

  .mat-column-last-updated {
    flex: 0 0 120px;
    margin-right: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mat-column-replies-count {
    flex: 0 0 50px;
    margin-left: 25px;

    span {
      background-color: $site-bg-color-200;
      color: $site-text-color-300;
      border-radius: 4px;
      padding: 1px 6px 0;
      font-size: 1.1rem;
      border: 1px solid $site-border-color-200;
    }
  }

  .mat-column-avatar {
    flex: 0 0 60px;
    margin: 0 25px;
    align-items: center;

    img {
      width: 38px;
      height: 38px;
      object-fit: cover;
      box-shadow: 0 0 0 1px #fff, 0 0 1px 2px #AAAEB7;
      border-radius: 50%;
      margin: 0 3px;
    }
  }

  .mat-column-ticket-summary {
    flex-grow: 6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .title {
      display: flex;
      height: 50%;
      align-items: center;

      .tags > .tag-label:last-of-type {
        margin-right: 7px;
      }
    }

    .ticket-body {
      height: 50%;
      color: $site-text-color-300;
      max-width: 98%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 5px;
    }
  }

  .mat-column-name {
    flex: 0 0 130px;
    font-weight: 500;
    color: $site-text-color-300;
  }

  no-results-message {
    margin-top: 50px;
  }
}