@import "../../../scss/variables";

suggested-articles-dropdown {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &.rounded  {
   input {
     display: block;
     height: $hc-search-bar-height;
     border-radius: 50px;
     font-size: 1.8rem;
     padding: 0 30px;
     border: none;
     width: calc(100% - 40px);
     margin: 0 auto;
     transition: background-color 0.3s;
     color: $site-text-color-400;
     outline: none;
     background-color: $site-bg-color-100;
     box-shadow: $box-shadow-2;

     @media only screen and (max-width: $medium) {
       font-size: 1.5rem;
     }
   }

    .input-icon {
      position: absolute;
      right: 35px;
      top: 9px;
      color: #86939e;
      transition: color 0.3s;

      .mat-icon {
        width: 35px;
        height: 35px;
      }

      &.spin-icon {
        display: none;
      }
    }
  }

  .input-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .dropdown-open {
    z-index: 1001;

    input {
      background-color: lighten($site-primary-color-100, 45%);
    }

    .input-icon {
      color: $site-primary-color-200;
    }
  }

  .suggestions-container {
    position: relative;

    &.has-results .search-results {
      display: block;
    }

    &.searching .search-icon {
      animation: flickerAnimation 0.5s infinite;
    }
  }
}

.article-autocomplete-panel.mat-autocomplete-panel {
  background-color: $site-bg-color-100;
  max-height: none;
  overflow: auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 0;
  z-index: 1;
  transform-origin: top;
  border-top: 1px solid $site-border-color-200;

  &.for-homepage {
    top: -80px;
    left: -20px;
    padding-top: 100px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .result {
    padding: 12px 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid $site-border-color-100;
    height: auto;
    line-height: normal;

    &:hover {
      background-color: $site-selected-item-bg-color;
    }

    &.see-all {
      padding-left: 22px;
    }

    .mat-option-text {
      display: flex;
    }

    .result-content {
      width: calc(100% - 30px);
    }

    .mat-icon {
      position: static;
      margin-right: 6px;
      width: 32px;
      height: 32px;
      flex: 0 0 32px;
      color: $hc-article-icon-color;
    }

    .title {
      font-weight: 500;
      margin-bottom: 5px;
      color: $hc-text-color;
      font-size: 1.6rem;
    }

    .body {
      color: $site-text-color-300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 97%;
    }

    .meta {
      margin: 15px 0 5px;
      font-size: 1.3rem;
      color: $site-text-color-300;

      .inline {
        vertical-align: middle;
        border: 1px solid $site-border-color-200;
        border-radius: 3px;
        padding: 3px 5px;
        margin-right: 5px;
      }
    }
  }

  .see-all {
    display: block;
    font-size: 1.4rem;
    color: $link-color;
  }

  .no-results-option {
    line-height: initial;
    height: auto;
    cursor: default;
    padding: 20px 0 45px;

    .main {
      font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .secondary {
      font-size: 1.6rem;
    }

    .icon {
      width: 120px;
      height: 120px;
    }
  }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}